{% set form = hookable_metadata.context.form %}

<div class="col-12">
    <h4>{{ 'threebrs.admin.pplParcelShop.title'|trans }}</h4>

    <div class="card-body">
        {{ form_row(form.pplParcelshopsShippingMethod) }}
        {{ form_row(form.pplOptionCountries) }}
        {{ form_row(form.pplDefaultCountry) }}
    </div>
</div>
