{% set form = hookable_metadata.context.form %}

<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title mb-0">{{ 'threebrs.admin.pplParcelShop.title'|trans }}</h5>
    </div>
    <div class="card-body">
        {{ form_row(form.pplParcelshopsShippingMethod) }}
        {{ form_row(form.pplOptionCountries) }}
        {{ form_row(form.pplDefaultCountry) }}
    </div>
</div>
