includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src

    symfony:
        container_xml_path: tests/Application/var/cache/dev/Tests_ThreeBRS_SyliusPplParcelshopsPlugin_KernelDevDebugContainer.xml

    excludePaths:
        - tests/Application/node_modules/*

        # Test dependencies
        - tests/Application/var/*
        - tests/Application/config/reference.php

        - tests/Behat/*
