parameters:
    threebrs_sylius_ppl_parcelshops_plugin_ppl_shipping_method_codes: [ 'ppl_parcel_shop' ]
    # https://ppl-widget-e.apidog.io/configuration-parameters-863668m0
    threebrs_sylius_ppl_parcelshops_plugin_ppl_countries: [ 'CZ', 'SK', 'DE', 'PL', 'HU', 'BG' , 'RO', 'NL', 'AT' ]

services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    ThreeBRS\SyliusPplParcelshopsPlugin\Form\Extension\ShipmentPplExtension:
        arguments:
            $shippingMethodsResolver: '@sylius.shipping_methods_resolver'
            $shippingMethodRepository: '@sylius.repository.shipping_method'
            $translator: '@translator'
            $allowedCountries: '%threebrs_sylius_ppl_parcelshops_plugin_ppl_countries%'
        tags:
            -   name: form.type_extension
                extended_type: Sylius\Bundle\CoreBundle\Form\Type\Checkout\ShipmentType

    ThreeBRS\SyliusPplParcelshopsPlugin\Form\Extension\AdminPplShippingMethodExtension:
        tags:
            -   name: form.type_extension
                extended_type: Sylius\Bundle\ShippingBundle\Form\Type\ShippingMethodType
        arguments:
            $countryChoices: '%threebrs_sylius_ppl_parcelshops_plugin_ppl_countries%'
            $translator: '@translator'

    ThreeBRS\SyliusPplParcelshopsPlugin\Model\PplShipmentExporter:
        public: true
        arguments:
            $currencyConverter: '@sylius.currency_converter'
            $pplShippingMethodsCodes: '%threebrs_sylius_ppl_parcelshops_plugin_ppl_shipping_method_codes%'
        tags:
            -   name: threebrs.shipment_exporter_type
                type: 'ppl_parcel_shop'
                label: 'PPL ParcelShop'

    ThreeBRS\SyliusPplParcelshopsPlugin\Controller\PplController:
        public: true
        arguments:
            $router: '@router'
            $shipmentRepository: '@sylius.repository.shipment'
            $cartContext: '@sylius.context.cart.composite'
            $translator: '@translator'
            $shippingMethodRepository: '@sylius.repository.shipping_method'
        tags:
            - 'controller.service_arguments'
