name: Run Tests

# Controls when the workflow will run
on:
    # Triggers the workflow on push or pull request events but only for the main branch
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    run-tests:
        name: php-${{ matrix.php_version }}-sylius-${{ matrix.sylius_version }}-symfony-${{ matrix.symfony_version }}
        # The type of runner that the job will run on
        runs-on: ubuntu-24.04

        strategy:
            fail-fast: false
            matrix:
                sylius_version: [ "1.13", "1.14" ]
                symfony_version: [ "6.4" ]
                php_version: [ "8.1", "8.2", "8.3", "8.4" ]

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build PHP service with specific version
                run: docker compose build php --build-arg PHP_VERSION=${{ matrix.php_version }}

            -   name: Start services
                run: docker compose up --detach --wait

            -   name: Update Composer
                run: docker compose exec --no-TTY php composer self-update

            -   name: Install Sylius version
                run: docker compose exec --no-TTY php composer require "sylius/sylius:${{ matrix.sylius_version }}.*" --no-interaction --no-update --no-scripts

            -   name: Install Symfony version
                run: docker compose exec --no-TTY php bash -c '
                    grep -o -E "\"(symfony/[^\"]+)\"" composer.json |
                    grep -v -E "(symfony/flex|symfony/webpack-encore-bundle|symfony/panther)" |
                    xargs printf "%s:${{ matrix.symfony_version }}.* " |
                    xargs composer require --no-interaction --no-update
                    '

            -   name: Wait for database
                run: docker compose exec --no-TTY php timeout 60s sh -c 'while ! nc -z mysql 3306; do sleep 0.1; done'

            -   name: Install dependencies (prefer-dist)
                run: |
                    docker compose exec --no-TTY php rm -fr vendor composer.lock
                    docker compose exec --no-TTY php composer update --no-interaction --prefer-dist --no-plugins
                    docker compose exec --no-TTY php bash -c '
                        cd tests/Application &&
                        bin/console assets:install --env=test -vvv &&
                        yarn install &&
                        yarn build &&
                        bin/console doctrine:database:create --if-not-exists --env=test -vvv &&
                        bin/console doctrine:schema:update --force --env=test -vvv &&
                        bin/console cache:clear --env=test -vvv &&
                        bin/console cache:warmup --env=test -vvv
                        '

            -   name: PHPStan (prefer-dist)
                run: docker compose exec --no-TTY php bash -c 'APP_ENV=test bin/phpstan.sh'

            -   name: ECS (prefer-dist)
                run: docker compose exec --no-TTY php bash -c 'APP_ENV=test bin/ecs.sh --clear-cache'

            -   name: Symfony lint (prefer-dist)
                run: docker compose exec --no-TTY php bash -c 'APP_ENV=test bin/symfony-lint.sh'

            -   name: Behat tests (prefer-dist)
                run: docker compose exec --no-TTY php bash -c 'rm -f tests/Application/var/log/test.log && APP_ENV=test bin/behat.sh || grep CRITICAL tests/Application/var/log/test.log'

            -   name: Upload prefer-dist composer.lock artifacts
                uses: actions/upload-artifact@v4
                if: always()
                with:
                    name: composer-prefer-dist-locks-php${{ matrix.php_version }}-sylius${{ matrix.sylius_version }}-symfony${{ matrix.symfony_version }}
                    path: composer.lock

            -   name: Upload prefer-dist logs artifacts
                uses: actions/upload-artifact@v4
                if: always()
                with:
                    name: composer-prefer-dist-logs-php${{ matrix.php_version }}-sylius${{ matrix.sylius_version }}-symfony${{ matrix.symfony_version }}
                    path: tests/Application/var/log/*

            -   name: Install dependencies (prefer-lowest)
                run: |
                    docker compose exec --no-TTY php rm -fr vendor composer.lock
                    docker compose exec --no-TTY php composer update --no-interaction --prefer-lowest --no-plugins
                    docker compose exec --no-TTY php bash -c '
                        cd tests/Application &&
                        bin/console assets:install --env=test -vvv &&
                        yarn install &&
                        yarn build &&
                        bin/console doctrine:database:create --if-not-exists --env=test -vvv &&
                        bin/console doctrine:schema:update --force --env=test -vvv &&
                        bin/console cache:clear --env=test -vvv &&
                        bin/console cache:warmup --env=test -vvv
                        '

            -   name: PHPStan (prefer-lowest)
                run: docker compose exec --no-TTY php bash -c 'APP_ENV=test bin/phpstan.sh'

            -   name: ECS (prefer-lowest)
                run: docker compose exec --no-TTY php bash -c 'APP_ENV=test bin/ecs.sh --clear-cache'

            -   name: Symfony lint (prefer-lowest)
                run: docker compose exec --no-TTY php bash -c 'APP_ENV=test bin/symfony-lint.sh'

            -   name: Behat tests (prefer-lowest)
                run: docker compose exec --no-TTY php bash -c 'rm -f tests/Application/var/log/test.log && APP_ENV=test php -d memory_limit=1G -d error_reporting="E_ALL & ~E_DEPRECATED & ~E_USER_DEPRECATED" vendor/bin/behat || grep CRITICAL tests/Application/var/log/test.log'

            -   name: Upload prefer-lowest composer.lock artifacts
                uses: actions/upload-artifact@v4
                if: always()
                with:
                    name: composer-prefer-lowest-locks-php${{ matrix.php_version }}-sylius${{ matrix.sylius_version }}-symfony${{ matrix.symfony_version }}
                    path: composer.lock

            -   name: Upload prefer-lowest logs artifacts
                uses: actions/upload-artifact@v4
                if: always()
                with:
                    name: composer-prefer-lowest-logs-php${{ matrix.php_version }}-sylius${{ matrix.sylius_version }}-symfony${{ matrix.symfony_version }}
                    path: tests/Application/var/log/*

            -   name: Stop services
                if: always()
                run: docker compose down
